/* color palette https://www.nordtheme.com/ */

a {
  color: #2E3440
}

.pic-col {
  text-align: center;
  padding: 5px;
}

.portfolio-pic {
  justify-content: center;
  min-width: 300px;
  width: 75%;
  box-shadow: 2px 2px 4px #000000;
  ;
}

.porfolio-text {
  min-width: 300px;
}